@import '../../assets/styles/color.scss';

.playground{
    margin: 15vh auto;
    width: 47vw;

    .box-top{
        display: flex;
        margin-top: 8%;
    
        .rps-button.circular.paper{
            z-index: 2;
            margin-right: -48px;
            margin-left: 2%;
        }
    
        .rps-button.circular.scissors{
            z-index: 2;
            margin-left: -35px;
        }
    
        .background-img-div{
            width: 50%;
            height: 3vh;
            margin-top: 52px;
            background-color: $background-slant-blue;
        }
    }

    .background-img-slant-1{
        width: 51vh;
        background-color: $background-slant-blue;
        transform: rotateZ(48deg);
        height: 3vh;
        margin-top: 20px;
        z-index: 1;
    }

    .background-img-slant-2{
        width: 51vh;
        margin-left: 36%;
        background-color: $background-slant-blue;
        transform: rotateZ(-50deg);
        height: 3vh;
        z-index: 1;
    }
    
    .box-bottom{
        display: flex;
        justify-content: center;
        margin-right: 12%;
        margin-top: -6px;

        .rps-button.circular.rock{
            z-index: 2;
        }
    }

    @media  screen and  (max-width:1028px){
        max-width: 240px;
        width: 100%;

        .box-top{
            display: flex;
            margin-top: 8%;
        
            .rps-button.circular.paper{
                z-index: 2;
                margin-right: -48px;
                margin-left: 2%;
            }
        
            .rps-button.circular.scissors{
                z-index: 2;
                margin-left: -4px;
            }
        
            .background-img-div{
                width: 50%;
                height: 3vh;
                margin-top: 6vh;
                background-color: $background-slant-blue;
            }
        }

        .box-bottom{
            margin-right: 21px;
        }

        .background-img-slant-1{
            width: 35vh;
            transform: rotateZ(63deg);
            margin-left: -25px;
        }

        .background-img-slant-2{
            width: 35vh;
            transform: rotateZ(-58deg);
            margin-left: 20%;
        }


    }
}

