@import './assets/styles/color.scss';
@import './assets/styles/font.scss';

.App {
  box-sizing: border-box;
  background-color: $primary-blue;
  height: 100%;
  padding: 35px;
  min-height: 100vh;
  @media screen and (max-width: 1028px){
    padding: 12px;
  }
}

.decision-header{
  font-family: $Barlow-semi;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15%;
  width: 100%;
  text-align: center;
  align-self: center;

  @media screen and (max-width: 1028px){
    font-size: 14px;
    margin-bottom: 3%;
    margin-top: 10%;
  }
}

.user-section, .house-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 150px;
  @media screen and (max-width: 1028px){
    flex-basis: 50%;
    min-width: 138px;
  }
}

.user-section{
  margin-right: 50px;
  @media screen and (max-width: 1028px){
    margin-right: 0;
  }
}

.house-section{
  .background-circle{
      width: 140px;
      height: 140px;
      background: $background-cicle-blue; 
      -moz-border-radius: 70px; 
      -webkit-border-radius: 70px; 
      border-radius: 70px;
  }
  @media screen and (max-width: 1028px){
    .background-circle{
      width: 60px;
      height: 60px;
      -moz-border-radius: 30px; 
      -webkit-border-radius: 30px; 
      border-radius: 30px;
    }
  }
}

