$primary-blue: #192648;
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$button-outline: #606480;
$text-white: #fefffe;
$scissors-border: #eba31b;
$rock-border: #de405b;
$paper-border: #526ff3;
$background-cicle-blue: #182341;
$background-slant-blue: #141e38;
$text-red: #b8455c;
$text-grey: #848c9d;
$button-shadow: #babfd4;
